#article {
    background-color: $colorOscuro; 
    .parrafo {
        @include display(flex, row, wrap, center, center);
        height: 180px;
        padding: 20px 20px ;
        font-size: 10px;
        background-color: $colorClaro;
        border-radius: $borderRadius;
        position: relative;
        top: 15px;
        margin-right: 20px;
        margin-left: 20px;
        div {
            a{
                text-decoration: $link;
                color: $colorOscuro;
                    img {
                        @extend %imagenArticle;
                    }
            }
            
            p {
                margin-top: 20px;
                a {
                    text-decoration: $link;
                    color: $colorOscuro;
                }
            }
        }
        div {
           a {
                text-decoration: $link;
                color: $colorOscuro;
                img {
                    @extend %imagenArticle;
                }
           }
            p {
                margin-top: 20px;
                a{
                    text-decoration: $link;
                    color: $colorOscuro;
                }
            }
        }
        div {
            a {
                text-decoration: $link;
                color: $colorOscuro;
                    img {
                        @extend %imagenArticle;
                    }
            }
            p {
                margin-top: 20px;
                a{
                    text-decoration: $link;
                    color: $colorOscuro;
                }
            }
        }
    }
}

@media screen and (max-width: 380px){
    #article{
        .parrafo {
            @include display(flex, column, wrap, center, center);
            height: 900px;
            padding:20px 20px;
            font-size: 8px;
            background-color: $colorClaro;
            border-radius: $borderRadius;
            top: 15px;
            margin-right: 20px;
            margin-left: 20px;
            gap: 10px;
            text-align: center;
            div{
                a{
                    text-decoration: $link;
                    color: $colorOscuro;
                    img {
                        height: 190px;
                        width:270px;
                        border-radius: $borderRadius;
                        text-align: center;
                    }
                }
            }
        }
    }
}

        
                  
                
            
        
        
    

