.slide {
    margin: 1px;
    border-radius: 6px;
    background-color: rgb(42, 105, 121);
}

.slide img {
    height: 62vh;
    width: 40%;
    position: relative;
    left: 400px;
}

.hamb {
    background-color: rgba(241, 247, 245, 0.904);
}