main{
    .slide {
        margin: 1px;
        border-radius: map-get($bordes, borderRadius);
        background-color: map-get($Colores, colorOscuro);
            div{
                div{
                    img {
                        height: 60vh;
                        width: 40%;
                        position: relative;
                        left: 400px;
                        top: 10px;
                    }
                }
            }
    }
}
@media screen and (max-width: 380px){
    main{
        .slide {
            div{
                div{
                    img{
                        height: 35vh;
                        width: 80%;
                        position: relative;
                        left: 40px;
                    }
                }
            }
        }
    }
}