#mainContact{
    height: 930px;
    background-color: map-get($Colores, colorOscuro);
    display: flex;
    flex-direction: column;
    .titForm {
        color: map-get($Colores, colorClaro);
        margin-top: 20px;
        text-align: center;
    }
    .divForm {
        padding: 10px;
        position: relative;
        .form {
            width: 40%;
            background-color:map-get($Colores, colorClaro);
            padding: 40px;
            margin: auto;
            margin-top: 10px;
            border-radius: 6px;
            color:map-get($Colores, colorOscuro);
            text-align: center;
            line-height: 40px;
            .elementosForm {
                width: 95%;
                padding: 10px;
                border-radius: 6px;
                border:  1px solid map-get($Colores, colorOscuro);
                font-size: 16px;
                line-height: 10px;
            }
            .botones {
                width: 45%;
                padding: 10px;
                margin: 16px 8px;
                color:map-get($Colores, colorOscuro);
            }
        }    
    }
}  