#mainDoc0 {
    .divDoc {
        color: map-get($Colores, colorClaro);
        text-align: center;
        justify-content: center;
        position: relative;
        margin-top: 20px;
        #listaDoc {
            padding: 10px;
            line-height: 30px;
            text-align: left;
            margin-left: 550px;
        }
    }   
}
