.logoEm {
    @include display(flex, row, wrap, center, space-around);
    background-color: map-get($Colores, colorClaro);
    border-radius: map-get($bordes, borderRadius);
    position: relative;
    top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    width: 97%;
}


@media screen and (max-width: 380px) {
    section{
        .logoEm {
            @include display(flex, column, wrap, center, center);
            height: 390px;
            border-radius: map-get($bordes, borderRadius);
            position: relative;
            top: 15px;
            margin-right: 20px;
            margin-left: 20px;
            gap: 30px;
                img {
                    height: 105px;
                    width: 200px;
                }
        }
    }
}
