#footer {
    @include display(flex, row, wrap, center, space-between);
    background-color: map-get($Colores, colorClaro);
    border: 3px solid map-get($Colores, colorOscuro);
    div {
        .textofooter {
            color: map-get($Colores, colorOscuro);
            line-height: 40px;
            font-size: 16px;
        }
    }
    #redes { 
        list-style-type: map-get($links, link);
        text-align: center;
        justify-content: center;
        li {
            a { 
                text-decoration: map-get($links, link);
                color: map-get($Colores, colorOscuro);
                line-height: 40px;
                list-style-type: map-get($links, link);
                text-align: center;
            }
        }
        li {
            a { 
                text-decoration: map-get($links, link);
                color: map-get($Colores, colorOscuro);
                line-height: 40px;
                list-style-type: map-get($links, link);
                text-align: center;
            }
        }
    }
    img {
        width:350px;
        height: 50px;
    }
}
    

@media screen and (max-width: 380px) {


    #footer {
        @include display (flex, column, wrap, center, center);
        background-color: map-get($Colores, colorClaro);
        padding: 20px;
        border: 3px solid map-get($Colores, colorOscuro);
        .textofooter {
            color: map-get($Colores, colorOscuro);
            line-height: 40px;
            justify-content: center;
            text-align: center;
            
            #redes { 
                list-style-type: none;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-size: large;

                li {
                    a { 
                        text-decoration: map-get($links, link);
                        color: map-get($Colores, colorOscuro);
                        line-height: 40px;
                        list-style-type: map-get($links, link);
                        text-align: center;
                    }
                }
            }
            img {
                width:300px;
                height: 50px;
                align-items: center;
                margin-left: 9px;
            }
        }
    }
    
}
    