#footer {
        background-color: rgb(245, 248, 248);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid rgb(42, 105, 121);
    div {
        .textofooter {
            color: rgb(42, 105, 121);
            line-height: 40px;
            font-size: 16px;
        }
    }
    #redes { 
        list-style-type: none;
        text-align: center;
        justify-content: center;
        li {
            a { 
                text-decoration: none;
                color: rgb(42, 105, 121);
                line-height: 40px;
                list-style-type: none;
                text-align: center;
            }
        }
        li {
            a { 
                text-decoration: none;
                color: rgb(42, 105, 121);
                line-height: 40px;
                list-style-type: none;
                text-align: center;
            }
        }
    }
    img {
        width:350px;
        height: 50px;
    }
}
    
    