$bordes: (
    borderRadius: 6px, 
);

$Colores:(
    colorOscuro: rgb(42, 105, 121),
    colorClaro: rgba(241, 247, 245, 0.904), 
);

$fuentes: ( 
    fuentePrincipal: ( Arial, Helvetica, sans-serif,),
);

$links: (
    link: none,
);
