nav {
    margin-left: auto;
    border-radius: $borderRadius !important;
    div {
        .hamb {
            background-color: $colorClaro;
        }
        div {
            ul {
            background-color: $colorClaro;
            border-radius: $borderRadius !important;
            padding: 10px;
            width: 350px;
            list-style-type: $link;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
                li {
                    &:hover {
                    transform: scale(1.15);
                    transition: all 300ms;
                     }
                    a {
                        text-decoration: $link;
                        border-radius: $borderRadius;
                        padding: 4px;
                        font-size: 20px !important;
                        background-color: $colorOscuro;
                        color: $colorClaro !important;
                        &:hover {
                        background-color: $colorClaro;
                        color: $colorOscur !important;
                        border: 1px solid $colorOscuro;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    nav {
        display: none;
        ul {
            li {
                padding: 5px !important;
                a{
                padding-left: 10px !important;
                }
            }
        }
    }
    
    .zindex {
        z-index: 2;
    }

}