nav {
    margin-left: auto;
    border-radius: 6px !important;
    div {
        .hamb {
            background-color: rgba(241, 247, 245, 0.904);
        }
        div {
            ul {
            background-color: rgba(241, 247, 245, 0.904);
            border-radius: 6px !important;
            padding: 10px;
            width: 350px;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
                li {
                    &:hover {
                    transform: scale(1.15);
                    transition: all 300ms;
                     }
                    a {
                        text-decoration: none;
                        border-radius: 6px;
                        padding: 4px;
                        font-size: 20px !important;
                        background-color: rgb(42, 105, 121);
                        color: rgba(241, 247, 245, 0.904) !important;
                        &:hover {
                        background-color: rgb(255, 255, 255);
                        color: rgb(42, 105, 121) !important;
                        border: 1px solid rgb(42, 105, 121);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    nav {
        display: none;
        ul {
            li {
                padding: 5px !important;
                a{
                padding-left: 10px !important;
                }
            }
        }
    }
    
    .zindex {
        z-index: 2;
    }

}