#mainDatos {
    height: 930px;
    .datosPedir {
     text-align: center;
     justify-content: center;
     color: rgb(218, 233, 232);
     position: relative;
     margin-top: 20px;
     line-height: 30px;
        #idDocDatos {
            padding: 10px;
            line-height: 60px;
            text-align: left;
            margin-left: 350px;
        }
    }
}
 