#mainSobre{
    height: 930px;
    color:rgb(218, 233, 232);
    .divSobre {
        text-align: center;
        line-height: 70px;
        position: relative;
        top: 20px;
        margin: auto;
    }

}


