#article .parrafo div a img {
  width: 200px;
  border-radius: 6px;
  float: left;
  padding: 1px;
  margin: 15px;
  transition: all 300ms;
  box-shadow: 2px 0px 10px 0px;
}
#article .parrafo div a img:hover {
  transform: scale(1.15);
}

body {
  background-color: rgba(241, 247, 245, 0.904);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  background-color: rgb(42, 105, 121);
  padding: 10px;
  width: 100%;
}
header .tituloPag {
  font-size: 32px;
  color: rgba(241, 247, 245, 0.904);
}

@media screen and (max-width: 380px) {
  header img {
    width: 70px;
    height: 70px;
  }
  header h1 {
    font-size: 20px;
  }
}
nav {
  margin-left: auto;
  border-radius: 6px !important;
}
nav div .hamb {
  background-color: rgba(241, 247, 245, 0.904);
}
nav div div ul {
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  background-color: rgba(241, 247, 245, 0.904);
  border-radius: 6px !important;
  padding: 10px;
  width: 350px;
  list-style-type: none;
}
nav div div ul li:hover {
  transform: scale(1.15);
  transition: all 300ms;
}
nav div div ul li a {
  text-decoration: none;
  border-radius: 6px;
  padding: 4px;
  font-size: 20px !important;
  background-color: rgb(42, 105, 121);
  color: rgba(241, 247, 245, 0.904) !important;
}
nav div div ul li a:hover {
  background-color: rgba(241, 247, 245, 0.904);
  color: rgb(42, 105, 121) !important;
  border: 1px solid rgb(42, 105, 121);
}

@media screen and (max-width: 380px) {
  nav {
    display: none;
  }
  nav ul li {
    padding: 5px !important;
  }
  nav ul li a {
    padding-left: 10px !important;
  }
  .zindex {
    z-index: 2;
  }
}
#mainContact {
  height: 930px;
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: column;
}
#mainContact .titForm {
  color: rgba(241, 247, 245, 0.904);
  margin-top: 20px;
  text-align: center;
}
#mainContact .divForm {
  padding: 10px;
  position: relative;
}
#mainContact .divForm .form {
  width: 40%;
  background-color: rgba(241, 247, 245, 0.904);
  padding: 40px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  color: rgb(42, 105, 121);
  text-align: center;
  line-height: 40px;
}
#mainContact .divForm .form .elementosForm {
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(42, 105, 121);
  font-size: 16px;
  line-height: 10px;
}
#mainContact .divForm .form .botones {
  width: 45%;
  padding: 10px;
  margin: 16px 8px;
  color: rgb(42, 105, 121);
}

#footer {
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: rgba(241, 247, 245, 0.904);
  border: 3px solid rgb(42, 105, 121);
}
#footer div .textofooter {
  color: rgb(42, 105, 121);
  line-height: 40px;
  font-size: 16px;
}
#footer #redes {
  list-style-type: none;
  text-align: center;
  justify-content: center;
}
#footer #redes li a {
  text-decoration: none;
  color: rgb(42, 105, 121);
  line-height: 40px;
  list-style-type: none;
  text-align: center;
}
#footer #redes li a {
  text-decoration: none;
  color: rgb(42, 105, 121);
  line-height: 40px;
  list-style-type: none;
  text-align: center;
}
#footer img {
  width: 350px;
  height: 50px;
}

@media screen and (max-width: 380px) {
  #footer {
    background-color: rgb(42, 105, 121);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(241, 247, 245, 0.904);
    padding: 20px;
    border: 3px solid rgb(42, 105, 121);
  }
  #footer .textofooter {
    color: rgb(42, 105, 121);
    line-height: 40px;
    justify-content: center;
    text-align: center;
  }
  #footer .textofooter #redes {
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
  #footer .textofooter #redes li a {
    text-decoration: none;
    color: rgb(42, 105, 121);
    line-height: 40px;
    list-style-type: none;
    text-align: center;
  }
  #footer .textofooter img {
    width: 300px;
    height: 50px;
    align-items: center;
    margin-left: 9px;
  }
}
.logoEm {
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  background-color: rgba(241, 247, 245, 0.904);
  border-radius: 6px;
  position: relative;
  top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 380px) {
  section .logoEm {
    background-color: rgb(42, 105, 121);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 390px;
    border-radius: 6px;
    position: relative;
    top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    gap: 30px;
  }
  section .logoEm img {
    height: 105px;
    width: 200px;
  }
}
.subtitulos {
  background-color: rgba(241, 247, 245, 0.904);
  color: rgb(42, 105, 121);
  text-align: center;
  width: 220px;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 2px;
  font-size: 22px;
}

@media screen and (max-width: 380px) {
  .subtitulos {
    margin-left: 80px;
  }
}
#article {
  background-color: rgb(42, 105, 121);
}
#article .parrafo {
  background-color: rgb(42, 105, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  height: 180px;
  padding: 20px 20px;
  font-size: 10px;
  background-color: rgba(241, 247, 245, 0.904);
  border-radius: 6px;
  position: relative;
  top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
#article .parrafo div a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}
#article .parrafo div p {
  margin-top: 20px;
}
#article .parrafo div p a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}
#article .parrafo div a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}
#article .parrafo div p {
  margin-top: 20px;
}
#article .parrafo div p a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}
#article .parrafo div a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}
#article .parrafo div p {
  margin-top: 20px;
}
#article .parrafo div p a {
  text-decoration: none;
  color: rgb(42, 105, 121);
}

@media screen and (max-width: 380px) {
  #article .parrafo {
    background-color: rgb(42, 105, 121);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 900px;
    padding: 20px 20px;
    font-size: 8px;
    background-color: rgba(241, 247, 245, 0.904);
    border-radius: 6px;
    top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    gap: 10px;
    text-align: center;
  }
  #article .parrafo div a {
    text-decoration: none;
    color: rgb(42, 105, 121);
  }
  #article .parrafo div a img {
    height: 190px;
    width: 270px;
    border-radius: 6px;
    text-align: center;
  }
}
.contenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 120px 930px 200px;
  grid-template-columns: 100%;
  height: 100vh;
}

.segContenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "carrusel" "consejos" "empresas";
  grid-template-columns: 100%;
  grid-template-rows: 410px 280px 220px;
  height: 100vh;
}

.areas {
  background-color: rgb(42, 105, 121);
  border: 2px solid rgb(218, 233, 232);
  border-radius: 6px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.carrusel {
  grid-area: carrusel;
}

.consejos {
  grid-area: consejos;
}

.empresas {
  grid-area: empresas;
}

.footer {
  grid-area: footer;
  padding: 10px;
}

@media screen and (max-width: 380px) {
  .contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 120px 1770px 400px;
    grid-template-columns: 100%;
    height: 100vh;
  }
  .segContenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "carrusel" "consejos" "empresas";
    grid-template-columns: 100%;
    grid-template-rows: 220px 1000px 510px;
    height: 100vh;
  }
}
main .slide {
  margin: 1px;
  border-radius: 6px;
  background-color: rgb(42, 105, 121);
}
main .slide div div img {
  height: 62vh;
  width: 40%;
  position: relative;
  left: 400px;
}

@media screen and (max-width: 380px) {
  main .slide div div img {
    height: 35vh;
    width: 80%;
    position: relative;
    left: 40px;
  }
}
#contenedorSeg {
  background-color: rgb(42, 105, 121);
  height: 930px;
}
#contenedorSeg img {
  width: 100%;
  height: 100%;
}
#contenedorSeg #TituloSeg {
  text-align: center;
  position: relative;
  top: 20px;
  color: rgb(218, 233, 232);
  font-size: 30px;
}
#contenedorSeg .divSeg {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 120px;
}
#contenedorSeg .divSeg .segPart {
  background-color: rgb(218, 233, 232);
  color: rgb(42, 105, 121);
  padding: 20px;
  border-radius: 6px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
#contenedorSeg .divSeg #part {
  flex-direction: column;
  text-align: left;
}
#contenedorSeg .divSeg #part .titSeg {
  text-align: center;
  font-size: 20px;
}
#contenedorSeg .divSeg #part .lipart {
  margin-left: 40px;
}
#contenedorSeg .divSeg #emp {
  flex-direction: column;
}

#mainSobre {
  height: 930px;
  color: rgb(218, 233, 232);
}
#mainSobre .divSobre {
  text-align: center;
  line-height: 70px;
  position: relative;
  top: 20px;
  margin: auto;
}

#docoblig .divDoc {
  color: rgba(241, 247, 245, 0.904);
  text-align: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
#docoblig .divDoc #listaDoc {
  padding: 10px;
  line-height: 30px;
  text-align: left;
  margin-left: 550px;
}

#mainDatos {
  height: 930px;
}
#mainDatos .datosPedir {
  text-align: center;
  justify-content: center;
  color: rgb(218, 233, 232);
  position: relative;
  margin-top: 20px;
  line-height: 30px;
}
#mainDatos .datosPedir #idDocDatos {
  padding: 10px;
  line-height: 60px;
  text-align: left;
  margin-left: 350px;
}

#contactarse {
  height: 930px;
}
#contactarse .divDat {
  text-align: center;
  line-height: 50px;
  color: rgba(241, 247, 245, 0.904);
  padding: 20px;
}/*# sourceMappingURL=styles.css.map */